<mat-card align="center">
    <div>
        <mat-card-title class="my-primary-text">
            <div>Purchase Order Generator</div>
            <br/>
            <div style="font-size:small;padding-bottom: 5vh;">use in mobile view for best experience</div>
            <div style="font-size:x-small;padding-bottom: 5vh;">v1.0</div>
        </mat-card-title>
    </div>
    <mat-card-footer align="end" class="my-accent-text margin-right-2">
        &copy;Michael Ivanov
    </mat-card-footer>
</mat-card>