<form [formGroup]="productForm">
    <mat-accordion>
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header class="my-primary-text">
                <mat-panel-title> Product Information </mat-panel-title>
            </mat-expansion-panel-header>

            <div layout="row" *ngIf="!selectedProduct.id; else displayidro">
                <mat-form-field flex>
                    <input matInput placeholder="Product Id" type="text" formControlName="id" />
                    <mat-error align="end">
                        <span *ngIf="id.hasError('required')">id is required</span>
                        <span *ngIf="!id.hasError('required') && id.hasError('idExists')">id already exists</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displayidro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="Product ID" formControlName="id" />
                </mat-form-field>
                <br />
            </ng-template>

            <div layout="row">
                <mat-form-field>
                    <mat-select placeholder="Vendor" formControlName="vendorid" value="vendorid" id="vendorid">
                        <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">{{
                            vendor.name
                            }}</mat-option>
                    </mat-select>
                    <mat-error flex *ngIf="vendorid.errors && (vendorid.dirty || vendorid.touched)" align="end">
                        <p align="end" mat-pad-xs *ngIf="vendorid.hasError('required')">
                            Choose Vendor
                        </p>
                    </mat-error>
                </mat-form-field>
            </div>

            <div layout="row" *ngIf="!selectedProduct.name; else displaynamero">
                <mat-form-field flex>
                    <input matInput placeholder="Product Name" type="text" formControlName="name" />
                    <mat-error align="end">
                        <span *ngIf="name.hasError('required')">name is required</span>
                        <span *ngIf="!name.hasError('required') && name.hasError('nameExists')">name already
                            exists</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displaynamero>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="Product Name" formControlName="name" />
                </mat-form-field>
                <br />
            </ng-template>

            <div layout="row" *ngIf="!selectedProduct.msrp; else displaymsrpro">
                <mat-form-field flex>
                    <input matInput placeholder="MSRP" type="text" formControlName="msrp" />
                    <mat-error align="end">
                        <span *ngIf="msrp.hasError('required')">MSRP is required</span>
                        <span *ngIf="!msrp.hasError('required') && msrp.hasError('decimalAmountValidator')">invalid
                            format
                            needs - xx.xx</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displaymsrpro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="MSRP" formControlName="msrp" />
                </mat-form-field>
                <br />
            </ng-template>

            <div layout="row" *ngIf="!selectedProduct.costprice; else displaycostpricero">
                <mat-form-field flex>
                    <input matInput placeholder="Cost Price" type="text" formControlName="costprice" />
                    <mat-error align="end">
                        <span *ngIf="costprice.hasError('required')">cost price is required</span>
                        <span
                            *ngIf="!costprice.hasError('required') && costprice.hasError('decimalAmountValidator')">invalid
                            format needs - xx.xx</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displaycostpricero>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="Cost Price" formControlName="costprice" />
                </mat-form-field>
                <br />
            </ng-template>
        </mat-expansion-panel>


        <!--start of inventory information expansion panel-->
        <mat-expansion-panel>
            <mat-expansion-panel-header class="my-primary-text">
                <mat-panel-title> Inventory Information </mat-panel-title>
            </mat-expansion-panel-header>

            <div layout="row" *ngIf="!selectedProduct.rop; else displayropro">
                <mat-form-field flex>
                    <input matInput placeholder="rop" type="text" formControlName="rop" />
                    <mat-error align="end">
                        <span *ngIf="rop.hasError('required')">rop is required</span>
                        <span *ngIf="!rop.hasError('required') && rop.hasError('intAmountValidator')">needs whole
                            numbers</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displayropro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="rop" formControlName="rop" />
                </mat-form-field>
                <br />
            </ng-template>

            <div layout="row" *ngIf="!selectedProduct.eoq; else displayeoqro">
                <mat-form-field flex>
                    <input matInput placeholder="eoq" type="text" formControlName="eoq" />
                    <mat-error align="end">
                        <span *ngIf="eoq.hasError('required')">eoq is required</span>
                        <span *ngIf="!eoq.hasError('required') && eoq.hasError('intAmountValidator')">needs whole
                            numbers</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displayeoqro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="eoq" formControlName="eoq" />
                </mat-form-field>
                <br />
            </ng-template>

            <div layout="row" *ngIf="!selectedProduct.qoh; else displayqohro">
                <mat-form-field flex>
                    <input matInput placeholder="qoh" type="text" formControlName="qoh" />
                    <mat-error align="end">
                        <span *ngIf="qoh.hasError('required')">qoh is required</span>
                        <span *ngIf="!qoh.hasError('required') && qoh.hasError('intAmountValidator')">needs whole
                            numbers</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displayqohro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="qoh" formControlName="qoh" />
                </mat-form-field>
                <br />
            </ng-template>

            <div layout="row" *ngIf="!selectedProduct.qoo; else displayqooro">
                <mat-form-field flex>
                    <input matInput placeholder="qoo" type="text" formControlName="qoo" />
                    <mat-error align="end">
                        <span *ngIf="qoo.hasError('required')">qoo is required</span>
                        <span *ngIf="!qoo.hasError('required') && qoo.hasError('intAmountValidator')">needs whole
                            numbers</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displayqooro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="qoo" formControlName="qoo" />
                </mat-form-field>
                <br />
            </ng-template>
        </mat-expansion-panel>

        <!--start of qrcode expansion panel-->
        <mat-expansion-panel>
            <mat-expansion-panel-header class="my-primary-text">
                <mat-panel-title> QRCode Information </mat-panel-title>
            </mat-expansion-panel-header>

            <div layout="row" *ngIf="!selectedProduct.qrcodetxt; else displayqrcodetxtro">
                <mat-form-field flex>
                    <input matInput placeholder="QRCode Text" type="text" formControlName="qrcodetxt" />
                    <mat-error align="end">
                        <span *ngIf="qrcodetxt.hasError('required')">QRCode is required</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <ng-template #displayqrcodetxtro>
                <mat-form-field flex style="font-weight: bolder" color="accent">
                    <input matInput [readonly]="true" placeholder="QRCode Text" formControlName="qrcodetxt" />
                </mat-form-field>
                <br />
                <div>
                    <span>QR CODE:</span>
                    <img style="display:block;" [src]="'data:image/png;base64,' + selectedProduct.qrcode" />
                </div>
                <br />
            </ng-template>
        </mat-expansion-panel>

        <div class="mat-pad-sm">
            <span>
                <button mat-raised-button [disabled]="!productForm.valid" type="button"
                    (click)="updateSelectedProduct()">
                    Save
                </button>
            </span>
            <span>
                <button *ngIf="selectedProduct.id" mat-raised-button type="button"
                    (click)="openDeleteDialog(selectedProduct)">Delete</button>
            </span>
            <span>
                <button mat-raised-button type="button" (click)="cancelled.emit(selectedProduct)">
                    Cancel
                </button>
            </span>
        </div>
    </mat-accordion>
</form>